
.checkout-page .delivery-option {
  display: grid;
  grid-template-columns: 24px 1fr;
  margin-bottom: 12px;
}

.checkout-page .delivery-option-input {
  margin: 3px 5px 0px 0px;
  cursor: pointer;
}

.checkout-page .delivery-option-date {

  font-weight: 500;
  margin-bottom: 3px;
}

.checkout-page .delivery-option-price {
  color: rgb(120, 120, 120);
  font-size: 15px;
}