
.cart-item-container{
    border: 1px solid rgb(222, 222, 222);
    border-radius: 4px;
    padding: 18px;
    margin-bottom: 12px;
}

.cart-item-details-grid {
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  column-gap: 25px;
}

@media (max-width: 1000px) {
  .cart-item-details-grid {
    grid-template-columns: 100px 1fr;
    row-gap: 30px;
  }
}
